body{
  font-family: Montserrat, sans-serif;
  line-height: 1.3;
}

html{

}

.container{
  margin: 0 auto;
  max-width: 1140px;
  padding-left: 15px;
  padding-right: 15px;

  &_footer{
    max-width: 1410px;
  }
}

