.portfolio{
  margin-top: 80px;
  margin-bottom: 115px;

  &_header{
    margin-bottom: 80px;
    font-weight: 700;
    font-size: 46px;
    line-height: 1.3;
    text-align: center;
  }

  &_cards{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    gap: 30px;

    &_item{
      display: block;
      box-shadow: 0 10px 40px rgba(126, 155, 189, 0.35);
      cursor: pointer;
      transition: 0.2s ease-in;

      &:hover{
        color: rgb(39, 91, 236);
        transform: translateY(-15px);
      }

      img{
        width: 100%;
        max-height: 360px;
        height: auto;
        padding: 20px;
      }

      h3{
        padding-bottom: 15px;
        padding-left: 20px;
        font-weight: 600;
        font-size: 24px;
      }

      p{
        padding-left: 20px;
        padding-bottom: 30px;
        font-size: 16px;
      }
    }
  }
}

